alias rm="rm -i"
alias v="vim"
alias mkdir="mkdir -p"
alias df="df -h"
alias c="clear"
alias tomcat_start="$TOMCAT_HOME/bin/startup.sh"
alias tomcat_shut="$TOMCAT_HOME/bin/shutdown.sh"
alias mysql_start="sudo mysql.server start"
alias mysql_stop="sudo mysql.server stop"
alias mysql_status="sudo mysql.server status"
alias matlab_cli="matlab -nodisplay"
